/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Navigation*/
#nav {
    height: 50px;
    margin: 3px;
}
#nav a {
    font-size: 30px;
    margin-right: 10px;
}
/*App Style*/
li {
    list-style-type: none;
}

#main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.todo {
    padding: 3px;
}
.todo .done {
    background-color: palegreen;
}
.todo div {
    min-height: 100px;
    background-color: lightgray;
    border: 1px solid darkgray;
}
.todo div p {
    width: 430px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    padding: 8px;
    word-wrap: break-word;
}
.todo div input {
    margin-right: 3px;
    margin-top: 8px;
    float: right;
}
.todo div .delete, .todo div #cancelEdit {
     margin-right: 8px;
 }
textarea {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    border: 1px solid darkgray;
}
.todo div #editText {
    height: 150px;
    width: 462px;
    margin: 8px;
    float: none;
    resize: none;
    overflow: hidden;
}
#top {
    margin: 3px;
    padding: 3px;
    background-color: lightgray;
    border: 1px solid darkgray;
}
#top input {
    margin: 5px;
    float: right;
}
#input {
    height: 100px;
    width: 538px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    margin: 3px;
    float: none;
    resize: none;
    overflow: hidden;
}